<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
</head>
<body>
    <form method='post' action="/">
        <input type="text" name="item" placeholder="Let's Do This!"/>
        <button type="submit">Submit</button>
    </form>
    <ul>
        {{#todos}}
            <form method='post' action="/{{id}}">
                <li><button type="submit" name={{id}} value="item">Mark Complete</button>      {{item}}</li>
            </form>
        {{/todos}}
    </ul>
    <br>
    <br>
    <h3>Done</h3>
    <ul>
        {{#dones}}
                <li>{{item}}</li>
        {{/dones}}
    </ul>


</body>
</html>